html {
    background-image: url('img/weather.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  .card {
    width: 100%;
    max-width: 470px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 50px auto 0;
    border-radius: 50px;
    padding: 80px 60px;
    text-align: center;
}

 .search {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 15px;
    height: 40px;
    border-radius: 30px;
    flex: 1 0 70%;
    margin-bottom: 10px;
    font-size: 16px;
    margin-right: 16px;
  }
  
  .search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 10px;
  
  }
  
  .search button img {
    width: 16px;
    margin-top: 4px;
  }
  
  .weather-icon {
    width: 140px;
    margin-top: 20px;
  }
  
  .weather h1 {
    font-size: 60px;
    font-weight: 500;
  }
  
  .weather h2 {
    font-size: 35px;
    font-weight: 400;
    margin-top: -10px;
  }
  
  .details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 30px;
  }
  
  .col {
    display: flex;
    align-items: center;
    text-align: left;
    flex-basis: 50%;
    margin-bottom: 10px;
  }
  
  .col img {
    width: 30px;
    margin-right: 10px;
  }
  
  .humidity,
  .wind {
    font-size: 20px;
    margin-top: -4px;
  }
  
  .error {
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
    margin-top: 10px;
    display: none;
  }
  